* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-color: teal #191414;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container-spotify {
  color: white;
}

.container-left {
  width: 50px;
  min-width: 30px;
  background-color: black;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;
  overflow: auto;
  justify-content: space-between;
}

.container-right {
  width: calc(100%-50px);
  margin-left: 50px;
  background: linear-gradient(90deg, #191414,#1DB954, plum, teal ,mediumorchid,#191414);
  background-size: 400% 400%;
  padding-bottom: 70px;
  animation: background 4s infinite alternate;
}

/*  */
@keyframes background {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

.ul-flex-column {
  display: flex;
  list-style: none;
  flex-direction: column;
}

.ul-flex-column li {
  padding: 7px 0;
}

.display {
  display: none;
}

.container-left img {
  height: 30px;
  padding: 0 5px;
  width: 30px;
  margin-left: -5px;
}

.h3-playlist {
  padding: 10px 0;
}

a img,
a span {
  vertical-align: middle;
}

.img-profile img {
  background-color: #808080;
  border-radius: 50%;
}

.menu-nav-list {
  margin: 5px 7px;
}

.menu-nav-list ul {
  list-style: none;
}

.row {
  column-gap: 10px;
}

.row-70px {
  position: relative;
  width: 100%;
  height: 70px;
  padding: 0 10px;
  overflow: auto;
}

.row-upgrade {
  background-color: #080b12;
}

.row-menu-navigator {
  text-align: center;
  line-height: 2;
  color: #828389;
  height: 70px;
  font-weight: bold;
}

.row-menu-navigator ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 7px;
  text-transform: uppercase;
  justify-content: center;
}

.button-upgrade {
  border: 1px solid white;
  background-color: #080b12;
  border-radius: 25px;
  padding: 10px 25px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-5%, -50%);
  text-transform: uppercase;
  font-weight: bold;
}

.button-upgrade a {
  color: white;
  text-decoration: none;
}

.row-flex-wrap-music {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: flex-start;
  gap: auto;
}

ul.row-navig-flex {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.div-music-cube {
  width: calc(100% / 2 - 5px * 2);
  text-align: center;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cube-text{
  max-width: 170px;
  padding-top:15px ;
}

.last-row-radius-img div img {
  border-radius: 50%;
}

.row-flex-wrap-music p,
.row-flex-wrap-music > p {
  color: #828389;
}

.row-flex-wrap-music ~ p,
.row-flex-wrap-music ~ h1,
.h1 {
  padding: 10px;
}

.row-flex-wrap-music img {
  min-width: 170px;
  height: 170px;
}

/* CONTAINER PLAYER */

.container-player {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}

.play-line {
  height: 2px;
  width: 50px;
  background: chartreuse;
  position: relative;
  top: 25%;
  flex-grow: 1;
  width: 100%;
}

.container-player img {
  height: 30px;
  width: 30px;
}

.col-right,
.col-left {
  align-items: center;
  display: flex;
  width: 30%;
}

.col-center {
  width: 50%;
}

.font-bar {
  font-size: 9px;
}

.bar-center {
  display: flex;
  width: 100%;
  height: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.bar-center > *,
.col-right > *,
.col-left > * {
  padding: 0 1px;
}

.rotate-left {
  transform: rotate(180deg);
}

.bar-center > *,
.col-right > *,
.col-left > * {
  margin: 0 5px;
}

.player-bar-center-high {
  margin: 0 auto;
  width: 80%;
}

.player-bar-center-high > * {
  width: calc(100% / 5);
}

.player-bar-center-low :nth-child(2) {
  width: 80%;
}

.col-right i {
  width: calc(50% / 3);
}

.col-right span {
  width: 50%;
}

.col-left > * {
  width: calc(100% / 3);
}

#big-logo {
  display: none;
}

#big-logo img {
  width: 120px;
  height: 60px;
}

.grey-text {
  color: #828389;
}

.plus {
  size: 10px;
}

.fa-plus-square {
  font-size: 35px;
  padding: 10px 0;
}

.grey-line {
  height: 1px;
  width: 100%;
  background-color: #828389;
  margin: 15px 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.john-doe {
  padding-left: 10px;
}

.ul-row-navig-flex li {
  position: relative;
  padding: 0 5px;
}

.ul-row-navig-flex a,
.menu-nav-list ul li a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.01em;
  display: inline-block;
  position: relative;
}

/* BUTTONS EFFECT ON NAV-LIST */

.ul-row-navig-flex a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  width: 0;
  left: 50%;
  position: absolute;
  background: chartreuse;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.ul-row-navig-flex a:hover:after {
  left: 0;
  width: 100%;
  display: inline-flex;
}

/* BUTTONS EFFECT ON NAV-LIST */

.menu-nav-list ul li a:after {
  background: none repeat scroll 0 0 transparent;
  display: block;
  content: "";
  width: 1px;
  height: 0;
  left: 0;
  top: 50%;
  position: absolute;
  background: chartreuse;
  transition: height 0.3s ease 0s, top 0.3s ease 0s;
}

.menu-nav-list ul li a:hover:after {
  top: 0;
  height: 100%;
}

/*  PLAY AND COLOR ON CARDS*/
.div-music-cube-img {
  position: relative;
  width: 170px;
}


.div-play-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  display: none;
}

.div-music-cube-img-radius .div-play-circle {
  border-radius: 50%;
}

.div-play-circle i {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  display: none;
}

.div-music-cube-img:hover .div-play-circle,
.div-music-cube-img:hover .div-play-circle i {
  display: inline;
}

.div-music-cube-img:hover:after {
  display: inline;
}





@media screen and (min-width: 480px) {
  .menu-nav-list {
    padding: 0 4px;
  }

  .col-right,
  .col-left {
    width: 25%;
  }

  .playlist-plus-text {
    align-items: center;
  }

  .row-flex-wrap-music img {
    height: 175px;
    width: 175px;
  }

  .div-music-cube-img,
  .cube-text{
    width: 175px;
  } 
   
}

@media screen and (min-width: 740px) {
  .menu-nav-list ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .container-left {
    width: 170px;
  }

  .container-right {
    width: calc(80%- 170px);
    margin-left: 170px;
  }

  #small-logo {
    display: none;
  }

  #big-logo {
    width: 80px;
    display: inline-flex;
  }

  .display {
    display: inline-flex;
  }

  .div-music-cube {
    width: calc(100% / 3 - 5px * 2);
  }

  .col-right,
  .col-left {
    width: 20%;
  }

  .row-flex-wrap-music img {
    width: 175px;
    height: 175px;
  }

  
}

@media screen and (min-width: 1050px) {
  .div-music-cube {
    width: calc(100% / 4 - 5px * 3);
  }

  .col-center {
    max-width: 517px;
  }

  .col-right,
  .col-left {
    width: 20%;
  }

  .row-flex-wrap-music img {
    width: 180px;
    height: 180px;
  }

  .div-music-cube-img,
  .cube-text {
    width: 180px;
  }
}

@media screen and (min-width: 1300px) {
  .div-music-cube {
    width: calc(100% / 5 - 5px * 2);
  }

  .row-flex-wrap-music img {
    height: 190px;
    width: 190px;
  }

  .div-music-cube-img,
  .cube-text {
    width: 190px;
  }
}

@media screen and (min-width: 1400px) {
  .div-music-cube {
    width: calc(100% / 6 - 5px * 2);
  }
  .row-flex-wrap-music img {
    height: 200px;
    width: 200px;
  }

  .div-music-cube-img,
  .cube-text {
    width: 200px;
  }
}
